
/************************** General **************************/
body{
    font-family: Lato, Source Sans Pro;
}


/************************** Navbar **************************/
/* Estructura de la navbar */
#navbar{
    padding-left: 2%;
    padding-right: 5%;
    margin-bottom:5%;
}
/* logo del sitio */
#logo{
    font-family: Lato Heavy;
}
/* Boton de login */
#botonLogin{
    color:black;
    transform: scale();
}
#botonLogin:hover{
    color:tomato;
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}
/* Menu de login dropdown */ 
.dropdown-menu{
    border-radius: 20px;
}
.dropdown-item{
    border-radius: 10px;
}
.dropdown-item:hover{
    color:white !important;
    background-color: tomato;
}
/************************** index.blade.php **************************/
.main{
    margin-top:2%;
}

footer{
    margin-top:30px;
    padding:20px;
    text-align:center;
    background-color: #f8f9fa;
}
